<!DOCTYPE html>
<html>
  <head>
    <title>Property Management</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='./css/style.css')}}" />

  </head>
  <body>
    <div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light">
              <a
                class="navbar-brand"
                href="/"
                target="_blank"
                ><h1><i class="fa fa-home"></i>PROPERTY MANAGEMENT</h1></a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                {% if username %}
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><h6>Profile</h6></a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><h6>{{username}}</h6></a>
                      <a class="dropdown-item"><h6>{{email1}}</h6></a>
                      <a class="dropdown-item" href="{{ url_for('logout') }}"><h6>Logout</h6></a>
                    </div>
                  </li>
                {% endif %}
                {% if username=="" %}
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="{{ url_for('login') }}"><h6>Login/SignUp</h6></a>
                  </li>
                {% endif %}
                  {% if username!="" and username!='admin' %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="{{ url_for('dashboard') }}"><h6>Dashboard</h6></a>
                     </li>
                  {% endif %}
                  {% if username=='admin' %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="{{ url_for('admindashboard') }}"><h6>Dashboard</h6></a>
                     </li>
                  {% endif %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="/search/"><h6>Search</h6></a>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="/contactus/"><h6>Contact Us</h6></a>
                    </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item" style="background-image: url('{{url_for('static', filename='./images/bg4.jpg')}}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Apartments</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>

      <div class="carousel-item active" style="background-image: url('{{url_for('static', filename='./images/bg1.jpg')}}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Projects</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('{{url_for('static', filename='./images/bg2.jpg')}}')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Rooms</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
    </header>

        <footer class="bg-dark text-center text-lg-start">
            <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                 © 2021 Copyright:
                <a class="text-light" href="#"><i class="fa fa-home"></i>PROPERTY MANAGEMENT</a>
            </div>
        </footer>
    <script src="{{url_for('static', filename='./js/script.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>