<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title>Apartment Details</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='./css/login.css')}}" />
</head>
<body>
<div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light">
              <a
                class="navbar-brand"
                href="/"
                target="_blank"
                ><h1><i class="fa fa-home"></i>PROPERTY MANAGEMENT</h1></a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">

                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><h6>Profile</h6></a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><h6>{{username}}</h6></a>
                      <a class="dropdown-item"><h6>{{email1}}</h6></a>
                      <a class="dropdown-item" href="{{ url_for('logout') }}"><h6>Logout</h6></a>
                    </div>
                  </li>


                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="/admindashboard"><h6>Dashboard</h6></a>
                     </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="/search/"><h6>Search</h6></a>
                    </li>

                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--search result-->
    {% if msg %}
     <div class="container">
       <div class="alert alert-warning alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{msg}}</strong>
       </div>
     </div>
    {%endif%}

    {% if ap %}
        <h1>Apartments</h1>
    <br>
    <div class="card-deck">
        {% for u in ap %}
        <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
        <div class="card" style = "min-width : 24rem; max-width: 24rem; margin: auto; margin-bottom: 1rem;">
            <img class= "card-img-top " src="{{url_for('static', filename='./Uploads/'+u[17])}}" alt="" style = "width:100%; height:24rem; object-fit: cover;">
            <div class = "card-body">
                <h5 class="card-title">Name of apartment: <strong style="color: #8a2a90;">{{u[2]}}</strong></h5>
                    <div class="row">
                        <div class = "col-12">
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Apartment type:</strong> {{u[11]}}</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Owner: </strong>{{u[19]}} </p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Address: </strong> {{u[5]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Landmark: </strong> {{u[6]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">City: </strong>{{u[7]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Pincode: </strong>{{u[8]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">State:</strong> {{u[9]}} </p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Country:</strong> {{u[10]}}</p>

                         </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Plot_no:</strong> {{u[3]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Availability:</strong> {{u[13]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">RS:</strong> {{u[12]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Price:</strong> {{u[14]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Area:</strong> {{u[4]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Rating:</strong> {{u[18]}}</p>
                        </div>
                        <div class="col">
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Facilities:</strong> {{u[15]}}</p>
                            <p class="d-flex align-items-stretch" style="color: black;"><strong style="font-weight: bold">Description:</strong> {{u[16]}}</p>
                        </div>
                    </div>
            </div>

            <div class="card-footer">
                <div class="btn">
                    <a href="{{url_for('delete1',id=u[0])}}"><button type="button" class="btn" id="bt1">Delete</button></a>
                </div>
            </div>
        </div>
        </div>
        {%endfor%}

    </div>
    {% endif %}
<br>
<br>
    <script src="{{url_for('static', filename='./js/script.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


</body>
</html>