<!DOCTYPE html>
<html>
  <head>
    <title>Saved Properties</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='./css/style.css')}}" />

  </head>
  <body>
    <div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light">
              <a
                class="navbar-brand"
                href="/"
                target="_blank"
                ><h1><i class="fa fa-home"></i>PROPERTY MANAGEMENT</h1></a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto py-4 py-md-0">

                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><h6>Profile</h6></a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><h6>{{username}}</h6></a>
                      <a class="dropdown-item"><h6>{{email1}}</h6></a>
                      <a class="dropdown-item" href="{{ url_for('logout') }}"><h6>Logout</h6></a>
                    </div>
                  </li>

                      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="/search/"><h6>Search</h6></a>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                        <a class="nav-link" href="{{ url_for('dashboard') }}"><h6>Dashboard</h6></a>
                     </li>

                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if detail %}
        <h1>Apartments</h1>
    <br>
    <div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style="min-height: 100vh;">
        <div class="row w-100 p-0 w-0" >
          {% for u in detail %}
            <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                <div class="card h-100 k" style="max-width: 24rem; margin: auto; margin-bottom: 1rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='./Uploads/'+u.image)}}" alt="Card image cap" style = "width:100%; height:24rem; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title" ><strong style="color:#880085;">Name of apartment:</strong> {{u['Aname']}}</h5>
                        <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p class="card-text" style="color: black;"><strong>Owner:</strong> {{u['fullname']}}</p>
                            <p class="card-text" style="color: black;"><strong>Address:</strong> {{u['Address']}}</p>
                            <p class="card-text" style="color: black;"><strong>City:</strong> {{u['City']}}</p>
                            <p class="card-text" style="color: black;"><strong>Pincode:</strong> {{u['Pincode']}}</p>
                            <p class="card-text" style="color: black;"><strong>State:</strong> {{u['State']}} </p>
                            <p class="card-text" style="color: black;"><strong>Country:</strong> {{u['Country']}}</p>
                            <p class="card-text" style="color: black;"><strong>Landmark:</strong> {{u['Landmark']}}</p>
                            <p class="card-text" style="color: black;"><strong>Plot-number:</strong> {{u['Plot_no']}}</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="card-text" style="color: black;"><strong>Price:</strong> {{u['Price']}}</p>
                            <p class="card-text" style="color: black;"><strong>Apartment-Type:</strong> {{u['Atype']}}</p>
                            <p class="card-text" style="color: black;"><strong>Rent/Sale:</strong> {{u['RS']}}</p>
                            <p class="card-text" style="color: black;"><strong>Availability:</strong> {{u['Availability']}}</p>
                            <p class="card-text" style="color: black;"><strong>Facilities:</strong> {{u['Facilities']}}</p>
                            <p class="card-text" style="color: black;"><strong>Description:</strong> {{u['Descr']}}</p>
                            <p class="card-text" style="color: black;"><strong>Area:</strong> {{u['Area']}}</p>
                            <p class="card-text" style="color: black;"><strong>Rating:</strong> {{u['rating']}}</p>
                        </div>
                    </div>
                      {%if username!="admin" and username!=u['username']%}
                    <div class="btn">
                        <a href="{{url_for('Buy_propertyapt',id=u['A_ID'])}}"><button type="button" class="btn " id="bt1">Apply</button></a>
                        <a href="{{url_for('complaintsapartment',id=u['A_ID'])}}"><button type="button" class="btn" id="bt1">Complaint</button></a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('book_apt',id=u['A_ID'])}}"><button type="button" class="btn" id="bt1">Book A Meeting</button></a>
                    </div>
                    {%endif%}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endif%}
    <br>
    {% if detail1 %}
        <h1>Rooms</h1>
    <br>
    <div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style="min-height: 100vh;">
        <div class="row w-100 p-0 w-0" >
          {% for u in detail1 %}
            <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                <div class="card h-100 k" style="max-width: 24rem; margin: auto; margin-bottom: 1rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='./Uploads/'+u.image)}}" alt="Card image cap" style = "width:100%; height:24rem; object-fit: cover;">
                    <div class="card-body">
                        <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p class="5" style="color: black;"><strong>Owner:</strong> {{u['fullname']}} </p>
                            <p class="1" style="color: black;"><strong>Room-number:</strong> {{u['Room_no']}}</p>
                            <p class="1" style="color: black;"><strong>Building-Name:</strong> {{u['Bname']}}</p>
                            <p class="2" style="color: black;"><strong>Address:</strong> {{u['Address']}}</p>
                            <p class="3" style="color: black;"><strong>City:</strong> {{u['City']}}</p>
                            <p class="4" style="color: black;"><strong>Pincode:</strong> {{u['Pincode']}}</p>
                            <p class="5" style="color: black;"><strong>State:</strong> {{u['State']}} </p>
                            <p class="5" style="color: black;"><strong>Landmark:</strong> {{u['Landmark']}} </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="6" style="color: black;"><strong>Country:</strong> {{u['Country']}}</p>
                            <p class="7" style="color: black;"><strong>Availability:</strong> {{u['Availability']}}</p>
                            <p class="8" style="color: black;"><strong>Rent:</strong> {{u['Rent']}}</p>
                            <p class="9" style="color: black;"><strong>Features:</strong> {{u['Facilities']}}</p>
                            <p class="10" style="color: black;"><strong>Description:</strong> {{u['Descr']}}</p>
                            <p class="10" style="color: black;"><strong>Rating:</strong> {{u['rating']}}</p>
                        </div>
                    </div>
                      {%if username!="admin" and username!=u['username']%}
                    <div class="btn">
                        <a href="{{url_for('Buy_propertyroom',id=u['R_ID'])}}"><button type="button" class="btn" id="bt1">Apply</button></a>
                        <a href="{{url_for('complaintsroom',id=u['R_ID'])}}"><button type="button" class="btn" id="bt1">Complaint</button></a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('book_room',id=u['R_ID'])}}"><button type="button" class="btn" id="bt1">Book A Meeting</button></a>
                    </div>
                    {%endif%}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endif%}
    <br>
    {% if detail2 %}
        <h1>Projects</h1>
    <br>
    <div class="container-fluid p-0 m-0 align-items-center justify-content-center d-flex" style="min-height: 100vh;">
        <div class="row w-100 p-0 w-0" >
          {% for u in detail2 %}
            <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                <div class="card h-100 k" style="max-width: 24rem; margin: auto; margin-bottom: 1rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='./Uploads/'+u.image)}}" alt="Card image cap" style = "width:100%; height:24rem; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title"><strong style="color:#880085">Name of Project:</strong> {{u['Pname']}}</h5>
                        <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p class="2" style="color: black;"><strong>Builder:</strong> {{u['fullname']}}</p>
                            <p class="3" style="color: black;"><strong>Flat-Type:</strong> {{u['Flattype']}}</p>
                            <p class="4" style="color: black;"><strong>Features:</strong> {{u['Features']}}</p>
                            <p class="5" style="color: black;"><strong>Pincode:</strong> {{u['Pincode']}}</p>
                            <p class="6" style="color: black;"><strong>Availability:</strong> {{u['Availability']}} </p>
                            <p class="7" style="color: black;"><strong>Facilities:</strong> {{u['Facilities']}}</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p class="2" style="color: black;"><strong>Description:</strong> {{u['Descr']}}</p>
                            <p class="3" style="color: black;"><strong>Address:</strong> {{u['Address']}}</p>
                            <p class="4" style="color: black;"><strong>City:</strong> {{u['City']}}</p>
                            <p class="6" style="color: black;"><strong>State:</strong> {{u['State']}} </p>
                            <p class="7" style="color: black;"><strong>Country:</strong> {{u['Country']}}</p>
                            <p class="5" style="color: black;"><strong>Rating:</strong> {{u['rating']}}</p>
                        </div>
                    </div>
                      {%if username!="admin" and username!=u['username']%}
                    <div class="btn">
                        <a href="{{url_for('Buy_project',id=u['P_ID'])}}"><button type="button" class="btn" id="bt1">Apply</button></a>
                        <a href="{{url_for('complaintsbuilder',id=u['P_ID'])}}"><button type="button" class="btn" id="bt1">Complaint</button></a>
                    </div>
                    <div class="btn">
                        <a href="{{url_for('book_project',id=u['P_ID'])}}"><button type="button" class="btn" id="bt1">Book A Meeting</button></a>
                    </div>
                    {%endif%}
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endif%}
    <br>

    <script src="{{url_for('static', filename='./js/script.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>